* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}


/* Profile Section */
.profile {
    position: relative;
    z-index: 10;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 1.2rem;
    color: #555;
    margin-top: 5px;
}
